#####  this notebook organizes, cleans and saves language related data for census 2001 and 2011, the original files are downloaded from Indian census website

In [1]:
import requests
import pyarrow as pa
import pyarrow.parquet as pq
import pickle
import os
import pandas as pd
import numpy as np

In [2]:
DataPath = "C://Users/Owner/Desktop/Projects/Research/maps/Data/IndiaData/LanguageDist2001/"

In [3]:
# CensusURL = "https://censusindia.gov.in/nada/index.php/catalog/"
# #"22842/download/25973/PC01_C16_01.xls"
# NStates = 35
# for j in range(6, NStates):
#     fileURL = CensusURL + str(22842+j) + "/download/" + str(25973 +j) +"/PC01_C16_"+ "%02d" % (j+1) + ".xls"   
#     r = requests.get(fileURL)
#     with open(DataPath+"State_"+ "%02d" % (j+1)+".xls", 'wb') as f:
#         f.write(r.content)
#     print("Done State "+"%02d" % (j+1))
#     #f.close()

In [4]:
DataPath = "C://Users/Owner/Desktop/Projects/Research/maps/Data/IndiaData/LanguageDist2011/"

In [5]:
# url = "https://censusindia.gov.in/nada/index.php/catalog/10192/download/13304/"
# from bs4 import BeautifulSoup

# import requests
# r  = requests.get(url)
# data = r.text
# soup = BeautifulSoup(data)
# links = [a['href'] for a in soup.find_all('a', href=True)]

### organize data

In [6]:
DataPath = "C://Users/Owner/Desktop/Projects/Research/maps/Data/IndiaData/"

In [53]:
f2001 = DataPath + "LanguageDist2001/"
f2011 = DataPath + "LanguageDist2011/"

In [54]:
%%time 
dfs = []
for file in os.listdir(f2001):
    if file.endswith(".xls"):
        df = pd.read_excel(os.path.join(f2001, file),sheet_name = "Sheet1",skiprows = 6, usecols = "B:P",\
                           index_col=None, header=None)
        dfs.append(df)
        print("done, "+ file)

done, State_01.xls
done, State_02.xls
done, State_03.xls
done, State_04.xls
done, State_05.xls
done, State_06.xls
done, State_07.xls
done, State_08.xls
done, State_09.xls
done, State_10.xls
done, State_11.xls
done, State_12.xls
done, State_13.xls
done, State_14.xls
done, State_15.xls
done, State_16.xls
done, State_17.xls
done, State_18.xls
done, State_19.xls
done, State_20.xls
done, State_21.xls
done, State_22.xls
done, State_23.xls
done, State_24.xls
done, State_25.xls
done, State_26.xls
done, State_27.xls
done, State_28.xls
done, State_29.xls
done, State_30.xls
done, State_31.xls
done, State_32.xls
done, State_33.xls
done, State_34.xls
done, State_35.xls
CPU times: total: 22.3 s
Wall time: 22.6 s

In [55]:
df_01 = pd.concat(dfs)
df_01 = df_01.reset_index(drop=True)

In [56]:
df_01.shape

(297690, 15)

In [57]:
df_01.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,0,0,State - JAMMU & KASHMIR 01,1000,1 ASSAMESE,6070,5655,415,1722,1623,99,4348,4032,316
1,1,0,0,State - JAMMU & KASHMIR 01,1002,1 ASSAMESE,6041,5628,413,1705,1606,99,4336,4022,314
2,1,0,0,State - JAMMU & KASHMIR 01,1999,1 Others,29,27,2,17,17,0,12,10,2
3,1,0,0,State - JAMMU & KASHMIR 01,2000,2 BENGALI,14416,12017,2399,4480,3576,904,9936,8441,1495
4,1,0,0,State - JAMMU & KASHMIR 01,2004,1 BENGALI,13700,11667,2033,3790,3251,539,9910,8416,1494

In [58]:
%%time 
dfs = []
for file in os.listdir(f2011):
    if file.endswith(".XLSX"):
        #print(file)
        df = pd.read_excel(os.path.join(f2011, file),sheet_name = "Sheet1",skiprows = 6, usecols = "B:P",\
                           index_col=None, header=None)
        dfs.append(df)
        #print(df.iloc[0, 2])
        print("done, ", df.iloc[0, 3])

done,  INDIA
done,  JAMMU & KASHMIR
done,  HIMACHAL PRADESH
done,  PUNJAB
done,  CHANDIGARH
done,  UTTARAKHAND
done,  HARYANA
done,  NCT OF DELHI
done,  RAJASTHAN
done,  UTTAR PRADESH
done,  BIHAR
done,  SIKKIM
done,  ARUNACHAL PRADESH
done,  NAGALAND
done,  MANIPUR
done,  MIZORAM
done,  TRIPURA
done,  MEGHALAYA
done,  ASSAM
done,  WEST BENGAL
done,  JHARKHAND
done,  ODISHA
done,  CHHATTISGARH
done,  MADHYA PRADESH
done,  GUJARAT
done,  DAMAN & DIU
done,  DADRA & NAGAR HAVELI
done,  MAHARASHTRA
done,  ANDHRA PRADESH
done,  KARNATAKA
done,  GOA
done,  LAKSHADWEEP
done,  KERALA
done,  TAMIL NADU
done,  PUDUCHERRY
done,  ANDAMAN & NICOBAR ISLANDS
CPU times: total: 2min
Wall time: 2min 2s

In [59]:
df_11 = pd.concat(dfs)
df_11 = df_11.reset_index(drop=True)

In [60]:

df_01.columns = ["State", "District", "Tehsil", "AreaName", "LangCode", "LangName", "Total", "TotalM", "TotalF", "Rural", \
                "RuralM", "RuralF", "Urban", "UrbanM", "UrbanF"]


df_11.columns = ["State", "District", "Tehsil", "AreaName", "LangCode", "LangName", "Total", "TotalM", "TotalF", "Rural", \
                "RuralM", "RuralF", "Urban", "UrbanM", "UrbanF"]

In [61]:
df_01 = df_01.drop(columns=['TotalM', 'TotalF', 'RuralM', 'RuralF', 'UrbanM', 'UrbanF'])
df_11 = df_11.drop(columns=[ 'TotalM', 'TotalF', 'RuralM', 'RuralF', 'UrbanM', 'UrbanF'])

In [ ]:
#df_01[df_01["Tehsil"]!=0]["AreaName"].nunique()

In [62]:
#df_01[df_01["AreaName"]=="Chandigarh (M Corp.)"]

In [20]:
tehsils_01 = df_01[(df_01["Tehsil"]>0)&(df_01["Tehsil"]!=40101000)]["AreaName"].unique().tolist()
[s for s in tehsils_01 if (("Sub district" not in s) &("Tehsil" not in s))]

[]

In [21]:
#tehsils_11 = df_11[(df_11["Tehsil"]>0)]["AreaName"].unique().tolist()
#[s for s in tehsils_11 if (("Sub district" not in s) &("Tehsil" not in s))]

In [63]:
#df_11[(df_11["Tehsil"]>0)]

In [64]:
#df_01[df_01["Tehsil"].isin([0,40101000])]

In [68]:
df11 = df_11[(df_11["Tehsil"]==0)]
df01 = df_01[df_01["Tehsil"].isin([0,40101000])]

In [69]:
df11.shape

(92425, 9)

In [70]:
df01.shape

(70708, 9)

In [71]:
df11_s = df11[df11["District"]==0]
df01_s = df01[df01["District"]==0]

In [72]:
#df11[df11["LangCode"]==3999].sort_values(by = "Total", ascending = False)

In [163]:
def fix_dialects(df):    
    df.assign(new_col = "LangGroup")
    df.assign(new_col ="LangGroupCode") 
    df.loc[(df["LangCode"].values)%1000 !=0, "LangGroupCode"] = (df["LangCode"]/1000).astype(int)*1000
    df.loc[np.isnan(df["LangGroupCode"]), "LangGroup"] = df["LangName"]
    df.loc[np.isnan(df["LangGroupCode"]), "LangGroupCode"] = df["LangCode"]
    df = df.sort_values(by = [ "Tehsil", "District", "State", "LangCode"])
    df["LangGroup"] = df["LangGroup"].fillna(method='ffill')
    df = df[['State', 'District', 'Tehsil', 'AreaName', 'LangGroup', 'LangGroupCode', 'LangName','LangCode', 
       'Total', 'Rural', 'Urban']]
    df = df[(df["LangCode"].values)%1000 !=0]
    return df

#### here

In [198]:
newdf11 = fix_dialects(df11)
newdf01 = fix_dialects(df01)

C:\Users\Owner\AppData\Local\Temp\ipykernel_15396\2543757044.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["LangGroup"] = df["LangGroup"].fillna(method='ffill')
C:\Users\Owner\AppData\Local\Temp\ipykernel_15396\2543757044.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["LangGroup"] = df["LangGroup"].fillna(method='ffill')

#### Columns have spaces and strings, and duplicates....

In [199]:
for df in [newdf01, newdf11]:
    df['LangGroup'] = df['LangGroup'].str.replace('\d+', '', regex=True).str.replace(' ', '')   
    df['AreaName'] = df['AreaName'].str.replace('\d+', '', regex=True).str.replace("State -", "")\
    .str.replace("District -", "").str.replace(".", "").str.strip()
    
    df.loc[df["LangName"].astype(str).str.contains("Others"), "LangName"] = df["LangGroup"].astype(str)+"_Other"
    df['LangName'] = df['LangName'].str.replace('\d+', '', regex=True).str.replace(' ', '')  
    display(df.head())

,State,District,Tehsil,AreaName,LangGroup,LangGroupCode,LangName,LangCode,Total,Rural,Urban
1,1,0,0,JAMMU & KASHMIR,ASSAMESE,1000.0,ASSAMESE,1002,6041,1705,4336
2,1,0,0,JAMMU & KASHMIR,ASSAMESE,1000.0,ASSAMESE_Other,1999,29,17,12
4,1,0,0,JAMMU & KASHMIR,BENGALI,2000.0,BENGALI,2004,13700,3790,9910
5,1,0,0,JAMMU & KASHMIR,BENGALI,2000.0,CHAKMA,2007,17,1,16
6,1,0,0,JAMMU & KASHMIR,BENGALI,2000.0,HAIJONG/HAJONG,2009,4,0,4

,State,District,Tehsil,AreaName,LangGroup,LangGroupCode,LangName,LangCode,Total,Rural,Urban
1,0,0,0,INDIA,ASSAMESE,1000.0,Assamese,1002,14816414,12680101,2136313
2,0,0,0,INDIA,ASSAMESE,1000.0,ASSAMESE_Other,1999,494937,464600,30337
4,0,0,0,INDIA,BENGALI,2000.0,Bengali,2007,96177835,68921285,27256550
5,0,0,0,INDIA,BENGALI,2000.0,Chakma,2011,228281,220162,8119
6,0,0,0,INDIA,BENGALI,2000.0,Haijong/Hajong,2015,71792,65601,6191

In [200]:
newdf11= newdf11.drop_duplicates(subset = ["State", "AreaName", "LangName"])
newdf01= newdf01.drop_duplicates(subset = ["State", "AreaName", "LangName"])
#print(newdf11.shape, newdf01.shape, d2.shape)

### Change everything to small caps letters

In [201]:
Stringcols = ["AreaName", "LangGroup", "LangName"]
for df in [newdf01, newdf11]:
    df[Stringcols] = df[Stringcols].apply(lambda x: x.astype(str).str.title())

#### Make sure that languages and state names match

In [202]:
for col in ["LangGroup", "LangName"]:
    for d1 in [newdf01, newdf11]:
        for d2 in [newdf01, newdf11]:
            Ldiff = list(set(d1[col].unique().tolist()) - set(d2[col].unique().tolist()))
            Ldiff.sort()
            print( "\n", col, " : ",  Ldiff )

 LangGroup  :  []

 LangGroup  :  ['Oriya', 'Persian', 'Simte']

 LangGroup  :  ['Mao', 'Odia']

 LangGroup  :  []

 LangName  :  []

 LangName  :  ['Adivasi', 'Adoli', 'Adra', 'Bangni', 'Bhoikhasi', 'Bodo', 'Chambeali', 'Gangte_Other', 'Gojri', 'Harauti', 'Ho_Other', 'Jaunsari', 'Karbi', 'Karbi/Mikir_Other', 'Khairari', 'Khond/Kondh_Other', 'Labani', 'Ladakhi_Other', 'Lakher', 'Maria', 'Miri/Mishing_Other', 'Monpa_Other', 'Multani', 'Mura', 'Muria', 'Nan', 'Nissi', 'Oriya', 'Oriya_Other', 'Persian', 'Proja', 'Punchhi', 'Sikkimese', 'Simpa', 'Simte', 'Tangsa', 'Zanskari']

 LangName  :  ['Afghani/Kabuli/Pashto_Other', 'Are', 'Baghati/Baghatipahari', 'Bauti', 'Bhagoria', 'Bhansari', 'Bhateali', 'Bhatia', 'Bhuiya/Bhuyan[Ori]', 'Bhumijali', 'Bishnoi', 'Bodo/Boro', 'Chambeali/Chamrali', 'Chirr', 'Chungli', 'Dardi', 'Desia', 'Gawari', 'Gojri/Gujjari/Gujar', 'Gorboli/Goru/Gorwani', 'Handuri', 'Hara/Harauti', 'Hindimultani', 'Irula/Irularmozhi', 'Jaunpuri/Jaunsari', 'Kachari', 'Karbi/Mikir', 'Khiemnungan_Other', 'Kodava', 'Koli', 'Konda', 'Korava', 'Kulehiya', 'Kuvi', 'Lakher_Other', 'Lohara', 'Lyngngam', 'Mahili', 'Mao', 'Mao_Other', 'Mara', 'Maria/Muria', 'Mech/Mechhia', 'Mongsen', 'Nawait', 'Nissi/Dafla', 'Odia', 'Odia_Other', 'Padari', 'Palmuha', 'Pando/Pandwani', 'Pania', 'Paola', 'Pattani', 'Ponchi', 'Prakritha/Prakrithabhasha', 'Proja(Ori)', 'Puran/Puranbhasha', 'Purbimaithili', 'Purkhi', 'Talgalo', 'Tharu', 'Thati', 'Tutchatangsa']

 LangName  :  []

In [203]:
for df in [newdf01, newdf11]:
    for Lcol in ["LangGroup", "LangName"]:
        df[Lcol] = df[Lcol].str.replace('\d+', '', regex=True)
        df[Lcol] = df[Lcol].str.replace(' / ', '/', regex=True).str.replace(' /', '/', regex=True).str.replace('/ ', '/', regex=True).str.strip()        
        df[Lcol] = df[Lcol].replace(r'\s+', '_', regex=True)
        df[Lcol] = df[Lcol].str.replace('Oriya', 'Odia')        
    
        df[Lcol] = df[Lcol].str.replace('Bundeli/Bundel_Khandi',  'Bundeli/Bundelkhandi')
        df[Lcol] = df[Lcol].str.replace('Hindi_Multani', 'Multani') 
        
for df in [newdf01]:
    for Lcol in ["LangName"]:     
        df[Lcol] = df[Lcol].str.replace('Chambeali', 'Chambeali/Chamrali')
        df[Lcol] = df[Lcol].str.replace('Bodo', 'Bodo/Boro')
        df[Lcol] = df[Lcol].str.replace( 'Harauti', 'Hara/Harauti')
        df[Lcol] = df[Lcol].str.replace( 'Kok_Barak', 'Kokbarak')
        df[Lcol] = df[Lcol].str.replace('Gangte_Other', 'Gangte')
        df[Lcol] = df[Lcol].str.replace(  'Ho_Other', 'Ho')
        df[Lcol] = df[Lcol].str.replace( 'Karbi/Mikir_Other', 'Karbi/Mikir')
        df[Lcol] = df[Lcol].str.replace('Khond/Kondh_Other', 'Khond/Kondh')
        df[Lcol] = df[Lcol].str.replace('Ladakhi_Other', 'Ladakhi')
        df[Lcol] = df[Lcol].str.replace(  'Monpa_Other', 'Monpa')
        df[Lcol] = df[Lcol].str.replace( 'Miri/Mishing_Other', 'Miri/Mishing')
        
        df[Lcol] = df[Lcol].str.replace('Gojri','Gojri/Gujjari/Gujar')
        df[Lcol] = df[Lcol].str.replace('Proja', 'Proja_(Ori)')
        #df[Lcol] = df[Lcol].str.replace('Bodo_Other', 'Bodo/Boro_Other')
        
        df.loc[df[Lcol] =='Nissi', Lcol ] = 'Nissi/Dafla'        
        df.loc[(df[Lcol] == "Maria")| (df[Lcol] == "Muria"), Lcol]='Maria/Muria'  
        df.loc[df[Lcol] =='Karbi', Lcol ] = 'Karbi/Mikir' 
        
for df in [newdf11]:
    for Lcol in ["LangName"]:        
        df[Lcol] = df[Lcol].str.replace('Afghani/Kabuli/Pashto_Other', 'Afghani/Kabuli/Pashto')
        df[Lcol] = df[Lcol].str.replace('Bodo_Other', 'Bodo/Boro_Other')
        df[Lcol] = df[Lcol].str.replace( 'Jaunpuri/Jaunsari', 'Jaunsari')
        df[Lcol] = df[Lcol].str.replace( 'Lakher_Other', 'Lakher')
        
        
#        df[Lcol] = df[Lcol].str.replace('Proja', 'Proja_(Ori)')#

In [204]:
groups_01 = newdf01["LangGroup"].unique()
groups_01.sort()
groups_11 = newdf11["LangGroup"].unique()
groups_11.sort()
langs_01 = newdf01["LangName"].unique()
langs_01.sort()
langs_11 = newdf11["LangName"].unique()
langs_11.sort()

In [205]:
for col in ["LangGroup", "LangName"]:
    for d1 in [newdf01, newdf11]:
        for d2 in [newdf01, newdf11]:
            Ldiff = list(set(d1[col].unique().tolist()) - set(d2[col].unique().tolist()))
            Ldiff.sort()
            print( "\n", col, " : ",  Ldiff )

 LangGroup  :  []

 LangGroup  :  ['Persian', 'Simte']

 LangGroup  :  ['Mao']

 LangGroup  :  []

 LangName  :  []

 LangName  :  ['Adivasi', 'Adoli', 'Adra', 'Bangni', 'Bhoikhasi', 'Khairari', 'Labani', 'Multani', 'Mura', 'Nan', 'Persian', 'Proja_(Ori)', 'Punchhi', 'Sikkimese', 'Simpa', 'Simte', 'Tangsa', 'Zanskari']

 LangName  :  ['Are', 'Baghati/Baghatipahari', 'Bauti', 'Bhagoria', 'Bhansari', 'Bhateali', 'Bhatia', 'Bhuiya/Bhuyan[Ori]', 'Bhumijali', 'Bishnoi', 'Chirr', 'Chungli', 'Dardi', 'Desia', 'Gawari', 'Gorboli/Goru/Gorwani', 'Handuri', 'Hindimultani', 'Irula/Irularmozhi', 'Kachari', 'Khiemnungan_Other', 'Kodava', 'Koli', 'Konda', 'Korava', 'Kulehiya', 'Kuvi', 'Lohara', 'Lyngngam', 'Mahili', 'Mao', 'Mao_Other', 'Mara', 'Mech/Mechhia', 'Mongsen', 'Nawait', 'Padari', 'Palmuha', 'Pando/Pandwani', 'Pania', 'Paola', 'Pattani', 'Ponchi', 'Prakritha/Prakrithabhasha', 'Proja(Ori)', 'Puran/Puranbhasha', 'Purbimaithili', 'Purkhi', 'Talgalo', 'Tharu', 'Thati', 'Tutchatangsa']

 LangName  :  []

In [218]:
newdf01

,State,District,Tehsil,AreaName,LangGroup,LangGroupCode,LangName,LangCode,Total,Rural,Urban
1,1,0,0,Jammu & Kashmir,Assamese,1000.0,Assamese,1002,6041,1705,4336
2,1,0,0,Jammu & Kashmir,Assamese,1000.0,Assamese_Other,1999,29,17,12
4,1,0,0,Jammu & Kashmir,Bengali,2000.0,Bengali,2004,13700,3790,9910
5,1,0,0,Jammu & Kashmir,Bengali,2000.0,Chakma,2007,17,1,16
6,1,0,0,Jammu & Kashmir,Bengali,2000.0,Haijong/Hajong,2009,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...
18806,4,1,40101000,Chandigarh,Tangkhul,111000.0,Tangkhul,111005,20,0,20
18808,4,1,40101000,Chandigarh,Tibetan,114000.0,Tibetan,114008,73,0,73
18810,4,1,40101000,Chandigarh,Tripuri,115000.0,Tripuri,115006,7,0,7
18812,4,1,40101000,Chandigarh,Tulu,116000.0,Tulu,116009,15,0,15
18814,4,1,40101000,Chandigarh,Wancho,118000.0,Wancho,118001,1,0,1

In [207]:
#print(langs_11)

### fix State names:

In [210]:
s_01 = newdf01[newdf01["District"]==0]["AreaName"].unique().tolist()
s_11 = newdf11[newdf11["District"]==0]["AreaName"].unique().tolist()
print( "Missing in 2011: ", list(set(s_01) - set(s_11)), "\n",
"Missing in 2001: ", list(set(s_11) - set(s_01))   )

Missing in 2011:  ['Manipur (Excl  Sub-Divisions)', 'Orissa', 'Uttaranchal', 'Pondicherry']
 Missing in 2001:  ['Uttarakhand', 'Chandigarh', 'Manipur', 'India', 'Odisha', 'Puducherry']

In [211]:
s_01.sort(), s_11.sort()
print( s_01, s_11)

['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur (Excl  Sub-Divisions)', 'Meghalaya', 'Mizoram', 'Nagaland', 'Nct Of Delhi', 'Orissa', 'Pondicherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttaranchal', 'West Bengal'] ['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'India', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Nct Of Delhi', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

#### Manipur 2001 & 2011 lack district level data!

In [212]:
display( newdf01[(newdf01["AreaName"]=="Manipur (Excl  Sub-Divisions)") & (newdf01["District"]>0)])
        
display(        newdf11[(newdf11["AreaName"]=="Manipur") & (newdf11["District"]>0)] )

Empty DataFrame
Columns: [State, District, Tehsil, AreaName, LangGroup, LangGroupCode, LangName, LangCode, Total, Rural, Urban]
Index: []

Empty DataFrame
Columns: [State, District, Tehsil, AreaName, LangGroup, LangGroupCode, LangName, LangCode, Total, Rural, Urban]
Index: []

In [227]:
#newdf11[(newdf11["AreaName"]=="Chandigarh")]

In [226]:
#newdf01[(newdf01["AreaName"]=="Chandigarh")]

In [219]:
for df in [newdf01]:
    df.loc[df["AreaName"] =='Pondicherry', "AreaName"] = 'Puducherry'
    df.loc[df["AreaName"] =='Orissa', "AreaName"] = 'Odisha'
    df.loc[df["AreaName"] =='Uttaranchal', "AreaName"] = 'Uttarakhand'
    df.loc[df["AreaName"] =='Manipur (Excl  Sub-Divisions)', "AreaName"] = 'Manipur'
    df.loc[df["AreaName"] =='Chandigarh (M Corp)', "AreaName"] = 'Chandigarh'

In [278]:
newdf11[newdf11["AreaName"]=='Delhi']

Empty DataFrame
Columns: [State, District, Tehsil, AreaName, LangGroup, LangGroupCode, LangName, LangCode, Total, Rural, Urban, StateName, DistrictName]
Index: []

#### Fix district names

In [228]:
dist_names_01 = newdf01[newdf01["District"]!=0]["AreaName"].unique().tolist()
dist_names_01.sort()
dist_names_01

['Adilabad',
 'Agra',
 'Ahmadabad',
 'Ahmadnagar',
 'Aizawl',
 'Ajmer',
 'Akola',
 'Alappuzha',
 'Aligarh',
 'Allahabad',
 'Almora',
 'Alwar',
 'Ambala',
 'Ambedkar Nagar *',
 'Amravati',
 'Amreli',
 'Amritsar',
 'Anand  *',
 'Anantapur',
 'Anantnag',
 'Andamans',
 'Anugul  *',
 'Araria',
 'Ariyalur  *',
 'Auraiya *',
 'Aurangabad',
 'Azamgarh',
 'Badgam',
 'Bagalkot *',
 'Bageshwar',
 'Baghpat *',
 'Bahraich',
 'Balaghat',
 'Balangir',
 'Baleshwar',
 'Ballia',
 'Balrampur *',
 'Banas Kantha',
 'Banda',
 'Bangalore',
 'Bangalore Rural',
 'Banka *',
 'Bankura',
 'Banswara',
 'Barabanki',
 'Baramula',
 'Baran *',
 'Barddhaman',
 'Bareilly',
 'Bargarh  *',
 'Barmer',
 'Barpeta',
 'Barwani *',
 'Bastar',
 'Basti',
 'Bathinda',
 'Baudh  *',
 'Begusarai',
 'Belgaum',
 'Bellary',
 'Betul',
 'Bhadrak  *',
 'Bhagalpur',
 'Bhandara',
 'Bharatpur',
 'Bharuch',
 'Bhavnagar',
 'Bhilwara',
 'Bhind',
 'Bhiwani',
 'Bhojpur',
 'Bhopal',
 'Bid',
 'Bidar',
 'Bijapur',
 'Bijnor',
 'Bikaner',
 'Bilaspur',
 'Birbhum',
 'Bishnupur',
 'Bokaro *',
 'Bongaigaon',
 'Budaun',
 'Bulandshahar',
 'Buldana',
 'Bundi',
 'Buxar *',
 'Cachar',
 'Central  *',
 'Chamarajanagar *',
 'Chamba',
 'Chamoli',
 'Champawat',
 'Champhai *',
 'Chandauli *',
 'Chandel',
 'Chandigarh',
 'Chandrapur',
 'Changlang',
 'Chatra *',
 'Chennai',
 'Chhatarpur',
 'Chhindwara',
 'Chikmagalur',
 'Chitradurga',
 'Chitrakoot *',
 'Chittaurgarh',
 'Chittoor',
 'Churachandpur',
 'Churu',
 'Coimbatore',
 'Cuddalore',
 'Cuddapah',
 'Cuttack',
 'Dadra & Nagar Haveli',
 'Dakshin Dinajpur *',
 'Dakshina Kannada',
 'Daman',
 'Damoh',
 'Dantewada*',
 'Darbhanga',
 'Darjiling',
 'Darrang',
 'Datia',
 'Dausa *',
 'Davanagere',
 'Debagarh  *',
 'Dehradun',
 'Deoghar',
 'Deoria',
 'Dewas',
 'Dhalai  *',
 'Dhamtari *',
 'Dhanbad',
 'Dhar',
 'Dharmapuri',
 'Dharwad',
 'Dhaulpur',
 'Dhemaji',
 'Dhenkanal',
 'Dhubri',
 'Dhule',
 'Dibang Valley',
 'Dibrugarh',
 'Dimapur *',
 'Dindigul',
 'Dindori *',
 'Diu',
 'Doda',
 'Dohad  *',
 'Dumka',
 'Dungarpur',
 'Durg',
 'East',
 'East   *',
 'East Garo Hills',
 'East Godavari',
 'East Kameng',
 'East Khasi Hills',
 'East Nimar',
 'East Siang',
 'Ernakulam',
 'Erode',
 'Etah',
 'Etawah',
 'Faizabad',
 'Faridabad',
 'Faridkot',
 'Farrukhabad',
 'Fatehabad *',
 'Fatehgarh Sahib *',
 'Fatehpur',
 'Firozabad',
 'Firozpur',
 'Gadag *',
 'Gadchiroli',
 'Gajapati  *',
 'Gandhinagar',
 'Ganganagar',
 'Ganjam',
 'Garhwa *',
 'Garhwal',
 'Gautam Buddha Nagar *',
 'Gaya',
 'Ghaziabad',
 'Ghazipur',
 'Giridih',
 'Goalpara',
 'Godda',
 'Golaghat',
 'Gonda',
 'Gondiya *',
 'Gopalganj',
 'Gorakhpur',
 'Gulbarga',
 'Gumla',
 'Guna',
 'Guntur',
 'Gurdaspur',
 'Gurgaon',
 'Gwalior',
 'Hailakandi',
 'Hamirpur',
 'Hanumangarh *',
 'Haora',
 'Harda *',
 'Hardoi',
 'Hardwar',
 'Hassan',
 'Hathras *',
 'Haveri *',
 'Hazaribagh',
 'Hingoli *',
 'Hisar',
 'Hoshangabad',
 'Hoshiarpur',
 'Hugli',
 'Hyderabad',
 'Idukki',
 'Imphal East *',
 'Imphal West',
 'Indore',
 'Jabalpur',
 'Jagatsinghapur  *',
 'Jaintia Hills',
 'Jaipur',
 'Jaisalmer',
 'Jajapur  *',
 'Jalandhar',
 'Jalaun',
 'Jalgaon',
 'Jalna',
 'Jalor',
 'Jalpaiguri',
 'Jammu',
 'Jamnagar',
 'Jamui *',
 'Janjgir - Champa*',
 'Jashpur *',
 'Jaunpur',
 'Jehanabad',
 'Jhabua',
 'Jhajjar *',
 'Jhalawar',
 'Jhansi',
 'Jharsuguda  *',
 'Jhunjhunun',
 'Jind',
 'Jodhpur',
 'Jorhat',
 'Junagadh',
 'Jyotiba Phule Nagar *',
 'Kachchh',
 'Kaimur (Bhabua) *',
 'Kaithal',
 'Kalahandi',
 'Kamrup',
 'Kancheepuram',
 'Kandhamal',
 'Kangra',
 'Kanker *',
 'Kannauj *',
 'Kanniyakumari',
 'Kannur',
 'Kanpur Dehat',
 'Kanpur Nagar',
 'Kapurthala',
 'Karaikal',
 'Karauli *',
 'Karbi Anglong',
 'Kargil',
 'Karimganj',
 'Karimnagar',
 'Karnal',
 'Karur  *',
 'Kasaragod',
 'Kathua',
 'Katihar',
 'Katni *',
 'Kaushambi *',
 'Kawardha *',
 'Kendrapara *',
 'Kendujhar',
 'Khagaria',
 'Khammam',
 'Kheda',
 'Kheri',
 'Khordha  *',
 'Kinnaur',
 'Kishanganj',
 'Koch Bihar',
 'Kodagu',
 'Kodarma *',
 'Kohima',
 'Kokrajhar',
 'Kolar',
 'Kolasib *',
 'Kolhapur',
 'Kolkata',
 'Kollam',
 'Koppal',
 'Koraput',
 'Korba *',
 'Koriya *',
 'Kota',
 'Kottayam',
 'Kozhikode',
 'Krishna',
 'Kullu',
 'Kupwara',
 'Kurnool',
 'Kurukshetra',
 'Kushinagar *',
 'Lahul & Spiti',
 'Lakhimpur',
 'Lakhisarai *',
 'Lakshadweep',
 'Lalitpur',
 'Latur',
 'Lawngtlai',
 'Leh (Ladakh)',
 'Lohardaga',
 'Lohit',
 'Lower Subansiri',
 'Lucknow',
 'Ludhiana',
 'Lunglei',
 'Madhepura',
 'Madhubani',
 'Madurai',
 'Maharajganj',
 'Mahasamund *',
 'Mahbubnagar',
 'Mahe',
 'Mahendragarh',
 'Mahesana',
 'Mahoba *',
 'Mainpuri',
 'Malappuram',
 'Maldah',
 'Malkangiri  *',
 'Mamit *',
 'Mandi',
 'Mandla',
 'Mandsaur',
 'Mandya',
 'Mansa *',
 'Marigaon',
 'Mathura',
 'Mau',
 'Mayurbhanj',
 'Medak',
 'Medinipur',
 'Meerut',
 'Mirzapur',
 'Moga *',
 'Mokokchung',
 'Mon',
 'Moradabad',
 'Morena',
 'Muktsar *',
 'Mumbai',
 'Mumbai (Suburban) *',
 'Munger',
 'Murshidabad',
 'Muzaffarnagar',
 'Muzaffarpur',
 'Mysore',
 'Nabarangapur  *',
 'Nadia',
 'Nagaon',
 'Nagapattinam  *',
 'Nagaur',
 'Nagpur',
 'Nainital',
 'Nalanda',
 'Nalbari',
 'Nalgonda',
 'Namakkal   *',
 'Nan',
 'Nanded',
 'Nandurbar *',
 'Narmada  *',
 'Narsimhapur',
 'Nashik',
 'Navsari  *',
 'Nawada',
 'Nawanshahr *',
 'Nayagarh  *',
 'Neemuch *',
 'Nellore',
 'New Delhi *',
 'Nicobars',
 'Nizamabad',
 'North',
 'North   *',
 'North Cachar Hills',
 'North East   *',
 'North Goa',
 'North Tripura',
 'North Twenty Four Parganas',
 'North West   *',
 'Nuapada  *',
 'Osmanabad',
 'Pakaur *',
 'Palakkad',
 'Palamu',
 'Pali',
 'Panch Mahals',
 'Panchkula *',
 'Panipat',
 'Panna',
 'Papum Pare *',
 'Parbhani',
 'Pashchim Champaran',
 'Pashchimi Singhbhum',
 'Patan  *',
 'Pathanamthitta',
 'Patiala',
 'Patna',
 'Perambalur  *',
 'Phek',
 'Pilibhit',
 'Pithoragarh',
 'Porbandar  *',
 'Prakasam',
 'Pratapgarh',
 'Puducherry',
 'Pudukkottai',
 'Pulwama',
 'Punch',
 'Pune',
 'Purba Champaran',
 'Purbi Singhbhum',
 'Puri',
 'Purnia',
 'Puruliya',
 'Rae Bareli',
 'Raichur',
 'Raigarh',
 'Raipur',
 'Raisen',
 'Rajauri',
 'Rajgarh',
 'Rajkot',
 'Rajnandgaon',
 'Rajsamand *',
 'Ramanathapuram',
 'Rampur',
 'Ranchi',
 'Rangareddi',
 'Ratlam',
 'Ratnagiri',
 'Rayagada  *',
 'Rewa',
 'Rewari',
 'Ri-Bhoi  *',
 'Rohtak',
 'Rohtas',
 'Rudraprayag *',
 'Rupnagar',
 'Sabar Kantha',
 'Sagar',
 'Saharanpur',
 'Saharsa',
 'Sahibganj',
 'Saiha *',
 'Salem',
 'Samastipur',
 'Sambalpur',
 'Sangli',
 'Sangrur',
 'Sant Kabir Nagar *',
 'Sant Ravidas Nagar Bhadohi *',
 'Saran',
 'Satara',
 'Satna',
 'Sawai Madhopur',
 'Sehore',
 'Senapati (Excl  Sub-Divisions)',
 'Seoni',
 'Serchhip *',
 'Shahdol',
 'Shahjahanpur',
 'Shajapur',
 'Sheikhpura *',
 'Sheohar *',
 'Sheopur *',
 'Shimla',
 'Shimoga',
 'Shivpuri',
 'Shrawasti *',
 'Sibsagar',
 'Siddharthnagar',
 'Sidhi',
 'Sikar',
 'Sindhudurg',
 'Sirmaur',
 'Sirohi',
 'Sirsa',
 'Sitamarhi',
 'Sitapur',
 'Sivaganga',
 'Siwan',
 'Solan',
 'Solapur',
 'Sonapur  *',
 'Sonbhadra',
 'Sonipat',
 'Sonitpur',
 'South',
 'South  *',
 'South  Twenty Four Parganas',
 'South Garo Hills *',
 'South Goa',
 'South Tripura',
 'South West   *',
 'Srikakulam',
 'Srinagar',
 'Sultanpur',
 'Sundargarh',
 'Supaul *',
 'Surat',
 'Surendranagar',
 'Surguja',
 'Tamenglong',
 'Tawang',
 'Tehri Garhwal',
 'Thane',
 'Thanjavur',
 'The Dangs',
 'The Nilgiris',
 'Theni  *',
 'Thiruvallur',
 'Thiruvananthapuram',
 'Thiruvarur',
 'Thoothukkudi',
 'Thoubal',
 'Thrissur',
 'Tikamgarh',
 'Tinsukia',
 'Tirap',
 'Tiruchirappalli',
 'Tirunelveli',
 'Tiruvannamalai',
 'Tonk',
 'Tuensang',
 'Tumkur',
 'Udaipur',
 'Udham Singh Nagar *',
 'Udhampur',
 'Udupi *',
 'Ujjain',
 'Ukhrul',
 'Umaria *',
 'Una',
 'Unnao',
 'Upper Siang *',
 'Upper Subansiri',
 'Uttar Dinajpur',
 'Uttara Kannada',
 'Uttarkashi',
 'Vadodara',
 'Vaishali',
 'Valsad',
 'Varanasi',
 'Vellore',
 'Vidisha',
 'Viluppuram',
 'Virudhunagar',
 'Visakhapatnam',
 'Vizianagaram',
 'Warangal',
 'Wardha',
 'Washim *',
 'Wayanad',
 'West',
 'West   *',
 'West Garo Hills',
 'West Godavari',
 'West Kameng',
 'West Khasi Hills',
 'West Nimar',
 'West Siang',
 'West Tripura',
 'Wokha',
 'Yamunanagar',
 'Yanam',
 'Yavatmal',
 'Zunheboto']

In [229]:
newdf01['AreaName'] = newdf01['AreaName'].str.replace('*', '').str.replace(' ', '')
newdf11['AreaName'] = newdf11['AreaName'].str.replace('*', '').str.replace(' ', '')

In [246]:
print( newdf01["State"].nunique(), newdf11["State"].nunique())

35 36

In [266]:
# for n in range(37):
#     print(n, newdf01[(newdf01["State"]==n)&(newdf01["District"]==0)]["AreaName"].unique())    
#     print(n, newdf01[(newdf01["State"]==n)&(newdf01["District"]==0)]["AreaName"].unique())

In [249]:
newdf01[(newdf01["District"]==0)]["AreaName"].unique()

array(['Jammu&Kashmir', 'HimachalPradesh', 'Punjab', 'Uttarakhand',
       'Haryana', 'NctOfDelhi', 'Rajasthan', 'UttarPradesh', 'Bihar',
       'Sikkim', 'ArunachalPradesh', 'Nagaland', 'Manipur', 'Mizoram',
       'Tripura', 'Meghalaya', 'Assam', 'WestBengal', 'Jharkhand',
       'Odisha', 'Chhattisgarh', 'MadhyaPradesh', 'Gujarat', 'Daman&Diu',
       'Dadra&NagarHaveli', 'Maharashtra', 'AndhraPradesh', 'Karnataka',
       'Goa', 'Lakshadweep', 'Kerala', 'TamilNadu', 'Puducherry',
       'Andaman&NicobarIslands'], dtype=object)

In [271]:
StateList = ['Jammu&Kashmir', 'HimachalPradesh', 'Punjab', 'Chandigarh', 'Uttarakhand',
       'Haryana', 'NctOfDelhi', 'Rajasthan', 'UttarPradesh', 'Bihar',
       'Sikkim', 'ArunachalPradesh', 'Nagaland', 'Manipur', 'Mizoram',
       'Tripura', 'Meghalaya', 'Assam', 'WestBengal', 'Jharkhand',
       'Odisha', 'Chhattisgarh', 'MadhyaPradesh', 'Gujarat', 'Daman&Diu',
       'Dadra&NagarHaveli', 'Maharashtra', 'AndhraPradesh', 'Karnataka',
       'Goa', 'Lakshadweep', 'Kerala', 'TamilNadu', 'Puducherry',
       'Andaman&NicobarIslands']
for df in [newdf01, newdf11]:
    df["StateName"] = "India"
    df["DistrictName"] = "District"
    for n in range(35):
        df.loc[df["State"]==n+1, "StateName"] = StateList[n]
    df["DistrictName"] = df['AreaName'] + '_' + df['StateName']
    df.loc[df["District"]!=0, "AreaName"] =df.loc[df["District"]!=0, "DistrictName"]

In [272]:
newdf01[newdf01["District"]>0].head()

,State,District,Tehsil,AreaName,LangGroup,LangGroupCode,LangName,LangCode,Total,Rural,Urban,StateName,DistrictName
303,1,1,0,Kupwara_Jammu&Kashmir,Assamese,1000.0,Assamese,1002,386,337,49,Jammu&Kashmir,Kupwara_Jammu&Kashmir
304,1,1,0,Kupwara_Jammu&Kashmir,Assamese,1000.0,Assamese_Other,1999,15,15,0,Jammu&Kashmir,Kupwara_Jammu&Kashmir
306,1,1,0,Kupwara_Jammu&Kashmir,Bengali,2000.0,Bengali,2004,602,466,136,Jammu&Kashmir,Kupwara_Jammu&Kashmir
308,1,1,0,Kupwara_Jammu&Kashmir,Bodo,3000.0,Bodo/Boro,3001,17,11,6,Jammu&Kashmir,Kupwara_Jammu&Kashmir
309,1,1,0,Kupwara_Jammu&Kashmir,Bodo,3000.0,Bodo/Boro_Other,3999,6,6,0,Jammu&Kashmir,Kupwara_Jammu&Kashmir

In [240]:
newdf01["AreaName"][newdf01["District"]==0].unique()

array(['Jammu&Kashmir', 'HimachalPradesh', 'Punjab', 'Uttarakhand',
       'Haryana', 'NctOfDelhi', 'Rajasthan', 'UttarPradesh', 'Bihar',
       'Sikkim', 'ArunachalPradesh', 'Nagaland', 'Manipur', 'Mizoram',
       'Tripura', 'Meghalaya', 'Assam', 'WestBengal', 'Jharkhand',
       'Odisha', 'Chhattisgarh', 'MadhyaPradesh', 'Gujarat', 'Daman&Diu',
       'Dadra&NagarHaveli', 'Maharashtra', 'AndhraPradesh', 'Karnataka',
       'Goa', 'Lakshadweep', 'Kerala', 'TamilNadu', 'Puducherry',
       'Andaman&NicobarIslands'], dtype=object)

In [273]:
dist_names_11 = newdf11[newdf11["District"]!=0]["AreaName"].unique().tolist()
dist_names_11.sort()
dist_names_11

['Adilabad_AndhraPradesh',
 'Agra_UttarPradesh',
 'Ahmadabad_Gujarat',
 'Ahmadnagar_Maharashtra',
 'Aizawl_Mizoram',
 'Ajmer_Rajasthan',
 'Akola_Maharashtra',
 'Alappuzha_Kerala',
 'Aligarh_UttarPradesh',
 'Alirajpur_MadhyaPradesh',
 'Allahabad_UttarPradesh',
 'Almora_Uttarakhand',
 'Alwar_Rajasthan',
 'Ambala_Haryana',
 'AmbedkarNagar_UttarPradesh',
 'Amravati_Maharashtra',
 'Amreli_Gujarat',
 'Amritsar_Punjab',
 'Anand_Gujarat',
 'Anantapur_AndhraPradesh',
 'Anantnag_Jammu&Kashmir',
 'Anjaw_ArunachalPradesh',
 'Anugul_Odisha',
 'Anuppur_MadhyaPradesh',
 'Araria_Bihar',
 'Ariyalur_TamilNadu',
 'Arwal_Bihar',
 'Ashoknagar_MadhyaPradesh',
 'Auraiya_UttarPradesh',
 'Aurangabad_Bihar',
 'Aurangabad_Maharashtra',
 'Azamgarh_UttarPradesh',
 'Badgam_Jammu&Kashmir',
 'Bagalkot_Karnataka',
 'Bageshwar_Uttarakhand',
 'Baghpat_UttarPradesh',
 'Bahraich_UttarPradesh',
 'Baksa_Assam',
 'Balaghat_MadhyaPradesh',
 'Balangir_Odisha',
 'Baleshwar_Odisha',
 'Ballia_UttarPradesh',
 'Balrampur_UttarPradesh',
 'BanasKantha_Gujarat',
 'Banda_UttarPradesh',
 'Bandipore_Jammu&Kashmir',
 'BangaloreRural_Karnataka',
 'Bangalore_Karnataka',
 'Banka_Bihar',
 'Bankura_WestBengal',
 'Banswara_Rajasthan',
 'BaraBanki_UttarPradesh',
 'Baramula_Jammu&Kashmir',
 'Baran_Rajasthan',
 'Barddhaman_WestBengal',
 'Bareilly_UttarPradesh',
 'Bargarh_Odisha',
 'Barmer_Rajasthan',
 'Barnala_Punjab',
 'Barpeta_Assam',
 'Barwani_MadhyaPradesh',
 'Bastar_Chhattisgarh',
 'Basti_UttarPradesh',
 'Bathinda_Punjab',
 'Baudh_Odisha',
 'Begusarai_Bihar',
 'Belgaum_Karnataka',
 'Bellary_Karnataka',
 'Betul_MadhyaPradesh',
 'Bhadrak_Odisha',
 'Bhagalpur_Bihar',
 'Bhandara_Maharashtra',
 'Bharatpur_Rajasthan',
 'Bharuch_Gujarat',
 'Bhavnagar_Gujarat',
 'Bhilwara_Rajasthan',
 'Bhind_MadhyaPradesh',
 'Bhiwani_Haryana',
 'Bhojpur_Bihar',
 'Bhopal_MadhyaPradesh',
 'Bid_Maharashtra',
 'Bidar_Karnataka',
 'Bijapur_Chhattisgarh',
 'Bijapur_Karnataka',
 'Bijnor_UttarPradesh',
 'Bikaner_Rajasthan',
 'Bilaspur_Chhattisgarh',
 'Bilaspur_HimachalPradesh',
 'Birbhum_WestBengal',
 'Bishnupur_Manipur',
 'Bokaro_Jharkhand',
 'Bongaigaon_Assam',
 'Budaun_UttarPradesh',
 'Bulandshahr_UttarPradesh',
 'Buldana_Maharashtra',
 'Bundi_Rajasthan',
 'Burhanpur_MadhyaPradesh',
 'Buxar_Bihar',
 'Cachar_Assam',
 'Central_NctOfDelhi',
 'Chamarajanagar_Karnataka',
 'Chamba_HimachalPradesh',
 'Chamoli_Uttarakhand',
 'Champawat_Uttarakhand',
 'Champhai_Mizoram',
 'Chandauli_UttarPradesh',
 'Chandel_Manipur',
 'Chandigarh_Chandigarh',
 'Chandrapur_Maharashtra',
 'Changlang_ArunachalPradesh',
 'Chatra_Jharkhand',
 'Chennai_TamilNadu',
 'Chhatarpur_MadhyaPradesh',
 'Chhindwara_MadhyaPradesh',
 'Chikkaballapura_Karnataka',
 'Chikmagalur_Karnataka',
 'Chirang_Assam',
 'Chitradurga_Karnataka',
 'Chitrakoot_UttarPradesh',
 'Chittaurgarh_Rajasthan',
 'Chittoor_AndhraPradesh',
 'Churachandpur_Manipur',
 'Churu_Rajasthan',
 'Coimbatore_TamilNadu',
 'Cuddalore_TamilNadu',
 'Cuttack_Odisha',
 'Dadra&NagarHaveli_Dadra&NagarHaveli',
 'DakshinBastarDantewada_Chhattisgarh',
 'DakshinDinajpur_WestBengal',
 'DakshinaKannada_Karnataka',
 'Daman_Daman&Diu',
 'Damoh_MadhyaPradesh',
 'Darbhanga_Bihar',
 'Darjiling_WestBengal',
 'Darrang_Assam',
 'Datia_MadhyaPradesh',
 'Dausa_Rajasthan',
 'Davanagere_Karnataka',
 'Debagarh_Odisha',
 'Dehradun_Uttarakhand',
 'Deoghar_Jharkhand',
 'Deoria_UttarPradesh',
 'Dewas_MadhyaPradesh',
 'Dhalai_Tripura',
 'Dhamtari_Chhattisgarh',
 'Dhanbad_Jharkhand',
 'Dhar_MadhyaPradesh',
 'Dharmapuri_TamilNadu',
 'Dharwad_Karnataka',
 'Dhaulpur_Rajasthan',
 'Dhemaji_Assam',
 'Dhenkanal_Odisha',
 'Dhubri_Assam',
 'Dhule_Maharashtra',
 'DibangValley_ArunachalPradesh',
 'Dibrugarh_Assam',
 'DimaHasao_Assam',
 'Dimapur_Nagaland',
 'Dindigul_TamilNadu',
 'Dindori_MadhyaPradesh',
 'Diu_Daman&Diu',
 'Doda_Jammu&Kashmir',
 'Dohad_Gujarat',
 'Dumka_Jharkhand',
 'Dungarpur_Rajasthan',
 'Durg_Chhattisgarh',
 'EastDistrict_Sikkim',
 'EastGaroHills_Meghalaya',
 'EastGodavari_AndhraPradesh',
 'EastKameng_ArunachalPradesh',
 'EastKhasiHills_Meghalaya',
 'EastSiang_ArunachalPradesh',
 'East_NctOfDelhi',
 'Ernakulam_Kerala',
 'Erode_TamilNadu',
 'Etah_UttarPradesh',
 'Etawah_UttarPradesh',
 'Faizabad_UttarPradesh',
 'Faridabad_Haryana',
 'Faridkot_Punjab',
 'Farrukhabad_UttarPradesh',
 'Fatehabad_Haryana',
 'FatehgarhSahib_Punjab',
 'Fatehpur_UttarPradesh',
 'Firozabad_UttarPradesh',
 'Firozpur_Punjab',
 'Gadag_Karnataka',
 'Gadchiroli_Maharashtra',
 'Gajapati_Odisha',
 'Ganderbal_Jammu&Kashmir',
 'Gandhinagar_Gujarat',
 'Ganganagar_Rajasthan',
 'Ganjam_Odisha',
 'Garhwa_Jharkhand',
 'Garhwal_Uttarakhand',
 'GautamBuddhaNagar_UttarPradesh',
 'Gaya_Bihar',
 'Ghaziabad_UttarPradesh',
 'Ghazipur_UttarPradesh',
 'Giridih_Jharkhand',
 'Goalpara_Assam',
 'Godda_Jharkhand',
 'Golaghat_Assam',
 'Gonda_UttarPradesh',
 'Gondiya_Maharashtra',
 'Gopalganj_Bihar',
 'Gorakhpur_UttarPradesh',
 'Gulbarga_Karnataka',
 'Gumla_Jharkhand',
 'Guna_MadhyaPradesh',
 'Guntur_AndhraPradesh',
 'Gurdaspur_Punjab',
 'Gurgaon_Haryana',
 'Gwalior_MadhyaPradesh',
 'Hailakandi_Assam',
 'Hamirpur_HimachalPradesh',
 'Hamirpur_UttarPradesh',
 'Hanumangarh_Rajasthan',
 'Haora_WestBengal',
 'Harda_MadhyaPradesh',
 'Hardoi_UttarPradesh',
 'Hardwar_Uttarakhand',
 'Hassan_Karnataka',
 'Haveri_Karnataka',
 'Hazaribagh_Jharkhand',
 'Hingoli_Maharashtra',
 'Hisar_Haryana',
 'Hoshangabad_MadhyaPradesh',
 'Hoshiarpur_Punjab',
 'Hugli_WestBengal',
 'Hyderabad_AndhraPradesh',
 'Idukki_Kerala',
 'ImphalEast_Manipur',
 'ImphalWest_Manipur',
 'Indore_MadhyaPradesh',
 'Jabalpur_MadhyaPradesh',
 'Jagatsinghapur_Odisha',
 'JaintiaHills_Meghalaya',
 'Jaipur_Rajasthan',
 'Jaisalmer_Rajasthan',
 'Jajapur_Odisha',
 'Jalandhar_Punjab',
 'Jalaun_UttarPradesh',
 'Jalgaon_Maharashtra',
 'Jalna_Maharashtra',
 'Jalor_Rajasthan',
 'Jalpaiguri_WestBengal',
 'Jammu_Jammu&Kashmir',
 'Jamnagar_Gujarat',
 'Jamtara_Jharkhand',
 'Jamui_Bihar',
 'Janjgir-Champa_Chhattisgarh',
 'Jashpur_Chhattisgarh',
 'Jaunpur_UttarPradesh',
 'Jehanabad_Bihar',
 'Jhabua_MadhyaPradesh',
 'Jhajjar_Haryana',
 'Jhalawar_Rajasthan',
 'Jhansi_UttarPradesh',
 'Jharsuguda_Odisha',
 'Jhunjhunun_Rajasthan',
 'Jind_Haryana',
 'Jodhpur_Rajasthan',
 'Jorhat_Assam',
 'Junagadh_Gujarat',
 'JyotibaPhuleNagar_UttarPradesh',
 'Kabeerdham_Chhattisgarh',
 'Kachchh_Gujarat',
 'Kaimur(Bhabua)_Bihar',
 'Kaithal_Haryana',
 'Kalahandi_Odisha',
 'KamrupMetropolitan_Assam',
 'Kamrup_Assam',
 'Kancheepuram_TamilNadu',
 'Kandhamal_Odisha',
 'Kangra_HimachalPradesh',
 'Kannauj_UttarPradesh',
 'Kanniyakumari_TamilNadu',
 'Kannur_Kerala',
 'KanpurDehat_UttarPradesh',
 'KanpurNagar_UttarPradesh',
 'KanshiramNagar_UttarPradesh',
 'Kapurthala_Punjab',
 'Karaikal_Puducherry',
 'Karauli_Rajasthan',
 'KarbiAnglong_Assam',
 'Kargil_Jammu&Kashmir',
 'Karimganj_Assam',
 'Karimnagar_AndhraPradesh',
 'Karnal_Haryana',
 'Karur_TamilNadu',
 'Kasaragod_Kerala',
 'Kathua_Jammu&Kashmir',
 'Katihar_Bihar',
 'Katni_MadhyaPradesh',
 'Kaushambi_UttarPradesh',
 'Kendrapara_Odisha',
 'Kendujhar_Odisha',
 'Khagaria_Bihar',
 'Khammam_AndhraPradesh',
 'Khandwa(EastNimar)_MadhyaPradesh',
 'Khargone(WestNimar)_MadhyaPradesh',
 'Kheda_Gujarat',
 'Kheri_UttarPradesh',
 'Khordha_Odisha',
 'Khunti_Jharkhand',
 'Kinnaur_HimachalPradesh',
 'Kiphire_Nagaland',
 'Kishanganj_Bihar',
 'Kishtwar_Jammu&Kashmir',
 'KochBihar_WestBengal',
 'Kodagu_Karnataka',
 'Kodarma_Jharkhand',
 'Kohima_Nagaland',
 'Kokrajhar_Assam',
 'Kolar_Karnataka',
 'Kolasib_Mizoram',
 'Kolhapur_Maharashtra',
 'Kolkata_WestBengal',
 'Kollam_Kerala',
 'Koppal_Karnataka',
 'Koraput_Odisha',
 'Korba_Chhattisgarh',
 'Koriya_Chhattisgarh',
 'Kota_Rajasthan',
 'Kottayam_Kerala',
 'Kozhikode_Kerala',
 'Krishna_AndhraPradesh',
 'Krishnagiri_TamilNadu',
 'Kulgam_Jammu&Kashmir',
 'Kullu_HimachalPradesh',
 'Kupwara_Jammu&Kashmir',
 'Kurnool_AndhraPradesh',
 'Kurukshetra_Haryana',
 'KurungKumey_ArunachalPradesh',
 'Kushinagar_UttarPradesh',
 'Lahul&Spiti_HimachalPradesh',
 'Lakhimpur_Assam',
 'Lakhisarai_Bihar',
 'Lakshadweep_Lakshadweep',
 'Lalitpur_UttarPradesh',
 'Latehar_Jharkhand',
 'Latur_Maharashtra',
 'Lawngtlai_Mizoram',
 'Leh(Ladakh)_Jammu&Kashmir',
 'Lohardaga_Jharkhand',
 'Lohit_ArunachalPradesh',
 'Longleng_Nagaland',
 'LowerDibangValley_ArunachalPradesh',
 'LowerSubansiri_ArunachalPradesh',
 'Lucknow_UttarPradesh',
 'Ludhiana_Punjab',
 'Lunglei_Mizoram',
 'Madhepura_Bihar',
 'Madhubani_Bihar',
 'Madurai_TamilNadu',
 'MahamayaNagar_UttarPradesh',
 'Mahasamund_Chhattisgarh',
 'Mahbubnagar_AndhraPradesh',
 'Mahe_Puducherry',
 'Mahendragarh_Haryana',
 'Mahesana_Gujarat',
 'Mahoba_UttarPradesh',
 'Mahrajganj_UttarPradesh',
 'Mainpuri_UttarPradesh',
 'Malappuram_Kerala',
 'Maldah_WestBengal',
 'Malkangiri_Odisha',
 'Mamit_Mizoram',
 'Mandi_HimachalPradesh',
 'Mandla_MadhyaPradesh',
 'Mandsaur_MadhyaPradesh',
 'Mandya_Karnataka',
 'Mansa_Punjab',
 'Mathura_UttarPradesh',
 'Mau_UttarPradesh',
 'Mayurbhanj_Odisha',
 'Medak_AndhraPradesh',
 'Meerut_UttarPradesh',
 'Mewat_Haryana',
 'Mirzapur_UttarPradesh',
 'Moga_Punjab',
 'Mokokchung_Nagaland',
 'Mon_Nagaland',
 'Moradabad_UttarPradesh',
 'Morena_MadhyaPradesh',
 'Morigaon_Assam',
 'Muktsar_Punjab',
 'MumbaiSuburban_Maharashtra',
 'Mumbai_Maharashtra',
 'Munger_Bihar',
 'Murshidabad_WestBengal',
 'Muzaffarnagar_UttarPradesh',
 'Muzaffarpur_Bihar',
 'Mysore_Karnataka',
 'Nabarangapur_Odisha',
 'Nadia_WestBengal',
 'Nagaon_Assam',
 'Nagapattinam_TamilNadu',
 'Nagaur_Rajasthan',
 'Nagpur_Maharashtra',
 'Nainital_Uttarakhand',
 'Nalanda_Bihar',
 'Nalbari_Assam',
 'Nalgonda_AndhraPradesh',
 'Namakkal_TamilNadu',
 'Nanded_Maharashtra',
 'Nandurbar_Maharashtra',
 'Narayanpur_Chhattisgarh',
 'Narmada_Gujarat',
 'Narsimhapur_MadhyaPradesh',
 'Nashik_Maharashtra',
 'Navsari_Gujarat',
 'Nawada_Bihar',
 'Nayagarh_Odisha',
 'Neemuch_MadhyaPradesh',
 'NewDelhi_NctOfDelhi',
 'Nicobars_Andaman&NicobarIslands',
 'Nizamabad_AndhraPradesh',
 'North&MiddleAndaman_Andaman&NicobarIslands',
 'NorthDistrict_Sikkim',
 'NorthEast_NctOfDelhi',
 'NorthGoa_Goa',
 'NorthTripura_Tripura',
 'NorthTwentyFourParganas_WestBengal',
 'NorthWest_NctOfDelhi',
 'North_NctOfDelhi',
 'Nuapada_Odisha',
 'Osmanabad_Maharashtra',
 'Pakur_Jharkhand',
 'Palakkad_Kerala',
 'Palamu_Jharkhand',
 'Pali_Rajasthan',
 'Palwal_Haryana',
 'PanchMahals_Gujarat',
 'Panchkula_Haryana',
 'Panipat_Haryana',
 'Panna_MadhyaPradesh',
 'PapumPare_ArunachalPradesh',
 'Parbhani_Maharashtra',
 'PaschimMedinipur_WestBengal',
 'PashchimChamparan_Bihar',
 'PashchimiSinghbhum_Jharkhand',
 'Patan_Gujarat',
 'Pathanamthitta_Kerala',
 'Patiala_Punjab',
 'Patna_Bihar',
 'Perambalur_TamilNadu',
 'Peren_Nagaland',
 'Phek_Nagaland',
 'Pilibhit_UttarPradesh',
 'Pithoragarh_Uttarakhand',
 'Porbandar_Gujarat',
 'Prakasam_AndhraPradesh',
 'Pratapgarh_Rajasthan',
 'Pratapgarh_UttarPradesh',
 'Puducherry_Puducherry',
 'Pudukkottai_TamilNadu',
 'Pulwama_Jammu&Kashmir',
 'Punch_Jammu&Kashmir',
 'Pune_Maharashtra',
 'PurbaChamparan_Bihar',
 'PurbaMedinipur_WestBengal',
 'PurbiSinghbhum_Jharkhand',
 'Puri_Odisha',
 'Purnia_Bihar',
 'Puruliya_WestBengal',
 'RaeBareli_UttarPradesh',
 'Raichur_Karnataka',
 'Raigarh_Chhattisgarh',
 'Raigarh_Maharashtra',
 'Raipur_Chhattisgarh',
 'Raisen_MadhyaPradesh',
 'Rajgarh_MadhyaPradesh',
 'Rajkot_Gujarat',
 'Rajnandgaon_Chhattisgarh',
 'Rajouri_Jammu&Kashmir',
 'Rajsamand_Rajasthan',
 'Ramanagara_Karnataka',
 'Ramanathapuram_TamilNadu',
 'Ramban_Jammu&Kashmir',
 'Ramgarh_Jharkhand',
 'Rampur_UttarPradesh',
 'Ranchi_Jharkhand',
 'Rangareddy_AndhraPradesh',
 'Ratlam_MadhyaPradesh',
 'Ratnagiri_Maharashtra',
 'Rayagada_Odisha',
 'Reasi_Jammu&Kashmir',
 'Rewa_MadhyaPradesh',
 'Rewari_Haryana',
 'Ribhoi_Meghalaya',
 'Rohtak_Haryana',
 'Rohtas_Bihar',
 'Rudraprayag_Uttarakhand',
 'Rupnagar_Punjab',
 'SabarKantha_Gujarat',
 'Sagar_MadhyaPradesh',
 'Saharanpur_UttarPradesh',
 'Saharsa_Bihar',
 'Sahibganj_Jharkhand',
 'SahibzadaAjitSinghNagar_Punjab',
 'Saiha_Mizoram',
 'Salem_TamilNadu',
 'Samastipur_Bihar',
 'Samba_Jammu&Kashmir',
 'Sambalpur_Odisha',
 'Sangli_Maharashtra',
 'Sangrur_Punjab',
 'SantKabirNagar_UttarPradesh',
 'SantRavidasNagar(Bhadohi)_UttarPradesh',
 'Saraikela-Kharsawan_Jharkhand',
 'Saran_Bihar',
 'Satara_Maharashtra',
 'Satna_MadhyaPradesh',
 'SawaiMadhopur_Rajasthan',
 'Sehore_MadhyaPradesh',
 'Senapati_Manipur',
 'Seoni_MadhyaPradesh',
 'Serchhip_Mizoram',
 'Shahdol_MadhyaPradesh',
 'ShahidBhagatSinghNagar_Punjab',
 'Shahjahanpur_UttarPradesh',
 'Shajapur_MadhyaPradesh',
 'Sheikhpura_Bihar',
 'Sheohar_Bihar',
 'Sheopur_MadhyaPradesh',
 'Shimla_HimachalPradesh',
 'Shimoga_Karnataka',
 'Shivpuri_MadhyaPradesh',
 'Shrawasti_UttarPradesh',
 'Shupiyan_Jammu&Kashmir',
 'Siddharthnagar_UttarPradesh',
 'Sidhi_MadhyaPradesh',
 'Sikar_Rajasthan',
 'Simdega_Jharkhand',
 'Sindhudurg_Maharashtra',
 'Singrauli_MadhyaPradesh',
 'Sirmaur_HimachalPradesh',
 'Sirohi_Rajasthan',
 'Sirsa_Haryana',
 'Sitamarhi_Bihar',
 'Sitapur_UttarPradesh',
 'Sivaganga_TamilNadu',
 'Sivasagar_Assam',
 'Siwan_Bihar',
 'Solan_HimachalPradesh',
 'Solapur_Maharashtra',
 'Sonbhadra_UttarPradesh',
 'Sonipat_Haryana',
 'Sonitpur_Assam',
 'SouthAndaman_Andaman&NicobarIslands',
 'SouthDistrict_Sikkim',
 'SouthGaroHills_Meghalaya',
 'SouthGoa_Goa',
 'SouthTripura_Tripura',
 'SouthTwentyFourParganas_WestBengal',
 'SouthWest_NctOfDelhi',
 'South_NctOfDelhi',
 'SriPottiSriramuluNellore_AndhraPradesh',
 'Srikakulam_AndhraPradesh',
 'Srinagar_Jammu&Kashmir',
 'Subarnapur_Odisha',
 'Sultanpur_UttarPradesh',
 'Sundargarh_Odisha',
 'Supaul_Bihar',
 'Surat_Gujarat',
 'Surendranagar_Gujarat',
 'Surguja_Chhattisgarh',
 'Tamenglong_Manipur',
 'Tapi_Gujarat',
 'TarnTaran_Punjab',
 'Tawang_ArunachalPradesh',
 'TehriGarhwal_Uttarakhand',
 'Thane_Maharashtra',
 'Thanjavur_TamilNadu',
 'TheDangs_Gujarat',
 'TheNilgiris_TamilNadu',
 'Theni_TamilNadu',
 'Thiruvallur_TamilNadu',
 'Thiruvananthapuram_Kerala',
 'Thiruvarur_TamilNadu',
 'Thoothukkudi_TamilNadu',
 'Thoubal_Manipur',
 'Thrissur_Kerala',
 'Tikamgarh_MadhyaPradesh',
 'Tinsukia_Assam',
 'Tirap_ArunachalPradesh',
 'Tiruchirappalli_TamilNadu',
 'Tirunelveli_TamilNadu',
 'Tiruppur_TamilNadu',
 'Tiruvannamalai_TamilNadu',
 'Tonk_Rajasthan',
 'Tuensang_Nagaland',
 'Tumkur_Karnataka',
 'Udaipur_Rajasthan',
 'Udalguri_Assam',
 'UdhamSinghNagar_Uttarakhand',
 'Udhampur_Jammu&Kashmir',
 'Udupi_Karnataka',
 'Ujjain_MadhyaPradesh',
 'Ukhrul_Manipur',
 'Umaria_MadhyaPradesh',
 'Una_HimachalPradesh',
 'Unnao_UttarPradesh',
 'UpperSiang_ArunachalPradesh',
 'UpperSubansiri_ArunachalPradesh',
 'UttarBastarKanker_Chhattisgarh',
 'UttarDinajpur_WestBengal',
 'UttaraKannada_Karnataka',
 'Uttarkashi_Uttarakhand',
 'Vadodara_Gujarat',
 'Vaishali_Bihar',
 'Valsad_Gujarat',
 'Varanasi_UttarPradesh',
 'Vellore_TamilNadu',
 'Vidisha_MadhyaPradesh',
 'Viluppuram_TamilNadu',
 'Virudhunagar_TamilNadu',
 'Visakhapatnam_AndhraPradesh',
 'Vizianagaram_AndhraPradesh',
 'Warangal_AndhraPradesh',
 'Wardha_Maharashtra',
 'Washim_Maharashtra',
 'Wayanad_Kerala',
 'WestDistrict_Sikkim',
 'WestGaroHills_Meghalaya',
 'WestGodavari_AndhraPradesh',
 'WestKameng_ArunachalPradesh',
 'WestKhasiHills_Meghalaya',
 'WestSiang_ArunachalPradesh',
 'WestTripura_Tripura',
 'West_NctOfDelhi',
 'Wokha_Nagaland',
 'Yadgir_Karnataka',
 'Yamunanagar_Haryana',
 'Yanam_Puducherry',
 'Yavatmal_Maharashtra',
 'Ysr_AndhraPradesh',
 'Zunheboto_Nagaland']

#### Save clean data after formatting

In [274]:
DataPath = "C://Users/Owner/Desktop/Projects/Research/maps/Data/CleanData/"
# newdf11.to_parquet(DataPath + "LangData2011.parquet")
# newdf01.to_parquet(DataPath + "LangData2001.parquet")
newdf11.to_pickle(DataPath + "LangData2011.pkl")
newdf01.to_pickle(DataPath + "LangData2001.pkl")

In [51]:
d11 = pd.read_pickle(DataPath + "LangData2011.pkl")

In [52]:
d11.shape

(53189, 11)

In [236]:
s11 = newdf11[["LangName", "Total"]].groupby("LangName").sum().reset_index().sort_values(by = "Total", ascending = False)
s11["%"] = 100*s11["Total"]/(s11["Total"].sum())
s01 = newdf01[["LangName", "Total"]].groupby("LangName").sum().reset_index().sort_values(by = "Total", ascending = False)
s01["%"] = 100*s01["Total"]/(s01["Total"].sum())
display(s01.head(), s11.head())

       LangName      Total         %
26    1 BENGALI  179465077  8.555530
274    12 HINDI  162193708  7.732163
169    1 TELUGU  150834285  7.190632
116   1 MARATHI  148173478  7.063785
166     1 TAMIL  120365062  5.738091

     LangName       Total          %
86      Hindi  1288920388  26.653067
24    Bengali   384711340   7.955291
166   Marathi   331204560   6.848846
247    Telugu   323649836   6.692625
245     Tamil   275555356   5.698098

In [235]:
s11 = newdf11[["LangGroup", "Total"]].groupby("LangGroup").sum().reset_index().sort_values(by = "Total", ascending = False)
s11["%"] = 100*s11["Total"]/(s11["Total"].sum())
s01 = newdf01[["LangGroup", "Total"]].groupby("LangGroup").sum().reset_index().sort_values(by = "Total", ascending = False)
s01["%"] = 100*s01["Total"]/(s01["Total"].sum())
display(s01.head(), s11.head())

     LangGroup      Total          %
78     6 HINDI  849322958  40.489261
34   2 BENGALI  181288607   8.642462
36   21 TELUGU  151214735   7.208769
27  13 MARATHI  148649881   7.086496
35    20 TAMIL  126799651   6.044843

      LangGroup       Total          %
78     6 HINDI   2113388772  43.701917
34   2 BENGALI    388950676   8.042955
27  13 MARATHI    332106720   6.867501
36   21 TELUGU    324510960   6.710432
35    20 TAMIL    276107524   5.709517